
.champions-social-container {
  display: flex;
  justify-content: flex-start;
}

.champions-social-img {
  height: 32px;
  width: 32px;
  padding: 2px;
}

.champions-social-links {
  display: inline-block;

}
.champions-social-container a {
  text-decoration: none !important;
  border: none !important;
}
.horizontal {
  flex-direction: row;
}
.vertical {
  flex-direction: column;
}
