<!-- Add you custom twig html here -->
{% for platform in platforms %}
   <a href={{ platform.url }} target="_blank" ><img src="{{ module_path }}/images/{{ platform.name }}.svg" alt="{{ platform.name }}"></a>
{% endfor %}

